*.swp
obj
libs
compile
android/lib
android/include
android/bin
shine
shine.pc
m4
/Makefile
Makefile.in
aclocal.m4
autom4te.cache/
config.guess
config.log
config.status
config.sub
configure
depcomp
install-sh
libtool
ltmain.sh
missing
src/.deps/
src/.libs/
src/unused
src/Makefile
src/Makefile.in
src/bitstream.lo
src/bitstream.o
src/formatbits.lo
src/formatbits.o
src/huffman.lo
src/huffman.o
src/l3bitstream.lo
src/l3bitstream.o
src/l3loop.lo
src/l3loop.o
src/l3mdct.lo
src/l3mdct.o
src/l3subband.lo
src/l3subband.o
src/layer3.lo
src/layer3.o
src/libshine.la
src/main.o
src/reservoir.lo
src/reservoir.o
src/shineenc
src/tables.lo
src/tables.o
src/wave.o
.libs/
libshine.la
shineenc
src/bin/.deps/
src/bin/.dirstamp
src/bin/shineenc-main.o
src/bin/shineenc-wave.o
src/lib/.deps/
src/lib/.dirstamp
src/lib/.libs/
src/lib/bitstream.lo
src/lib/bitstream.o
src/lib/formatbits.lo
src/lib/formatbits.o
src/lib/huffman.lo
src/lib/huffman.o
src/lib/l3bitstream.lo
src/lib/l3bitstream.o
src/lib/l3loop.lo
src/lib/l3loop.o
src/lib/l3mdct.lo
src/lib/l3mdct.o
src/lib/l3subband.lo
src/lib/l3subband.o
src/lib/layer3.lo
src/lib/layer3.o
src/lib/reservoir.lo
src/lib/reservoir.o
src/lib/tables.lo
src/lib/tables.o
shine-*.tar.gz
*.bc
*.mp3
node_modules
